body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 50px;
}

input {
    width: 60%;
    padding: 12px;
    font-size: 16px;
}

button {
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
}

h2 {
    margin-top: 30px;
}
