body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    /* Background image */
    background-image: url('/static/Gemini_Generated_Image_4emrv74emrv74emr.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #333;
    min-height: 100vh;
}

/* Main box */
.container {
    max-width: 600px;
    margin: 60px auto;
    padding: 40px 30px;

    background-color: white;
    opacity: 0.9; /* background visible */

    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

h1 {
    font-size: 36px;
    color: #2c3e50;
}

p {
    font-size: 20px;
    color: #34495e;
}

input[type="text"] {
    width: 80%;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #2c3e50;
    border-radius: 10px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #2ecc71;
}

h2 {
    margin-top: 20px;
    font-size: 22px;
    color: #3cabe7;
    text-align: center;
}

/* Footer */
footer {
    max-width: 600px;         
    margin: 20px auto;        
    padding: 10px;

    background-color: white;
    opacity: 0.9;

    text-align: center;
    font-size: 14px;
    color: #2c3e50;

    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* MOBILE VIEW */
@media (max-width: 700px) {
    .container {
        padding: 30px 20px;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }

    input[type="text"],
    button {
        width: 100%;
        font-size: 18px;
        padding: 15px;
    }
}







